# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.metadata

# IDE
.idea/
*.iml
.vscode/

# Backend
backend/target/
backend/.env

# Docker
.env